
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
:root {
    --bg-color: #CADBC0; 
    --text-color: #23231A;
    --highlight-color-one: #511C29;
    --highlight-color-two: #6096BA;
    --extra-color: #A27E6F;
}
.navbar {
    background-color: var(--highlight-color-one);
}
.navbar-brand {
    color: var(--extra-color);
    font-family: "Pompiere", sans-serif;
    font-size: x-large;
}
body{
    background-color: var(--bg-color);
}
/* Hero Section */
.hero-section {
    background: url(../images/travel-landscape-reef-tourism-panorama-wave.jpg);
    height: 100vh;
    background-position: 30% 30%;
    display:block;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-family: "Fascinate", system-ui;
    font-weight: 600;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}
.work-card {
    background-color: var(--highlight-color-two);
    font-family: "Mulish", sans-serif;
}
 
.carousel-inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.btn {
    background-color: var(--extra-color);
    border-radius: 1em;
    border-color: white;
}
.btn:hover {
    background-color: black;
    border-color: #23231A;
}
p {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: bold;
    
 }
    
h2 {
font-family: "Pompiere", sans-serif;
    font-weight: 700;
    color: black;
}