
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
:root {
    --dark-green: #0A3323; 
    --moss-green: #839958;
    --beige: #F7F4D5; 
    --rosy-brown: #D3968C;
    --midnight-green: #105666; 
}
.navbar {
    background-color: var(--dark-green);
}
.navbar-brand {
    color: var(--moss-green);
    font-family: "Pompiere", sans-serif;
    font-size: x-large;
}
body{
    background-color: var(--dark-green);
}
/* Hero Section */
.hero-section {
    background: url(../images/background.gif);
    height: 104vh;
    background-position: 20% 20%;
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--rosy-brown);
}

.hero-section h1 {
    font-family: "Fascinate", system-ui;
    font-weight: 600;
}
.text-center{
    color:#D3968C;
}
.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}
.work-card {
    background-color: var(--beige);
    font-family: "Mulish", sans-serif;
}
.map {
    columns: 3em
}
.nav-link  
{
    color:#839958;
    font-family: "Pompiere", sans-serif;
    font-size: x-large;

}
.carousel-inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.btn {
    background-color: var(--midnight-green);
    border-radius: 1em;
    border-color: white;
}

.btn:hover {
    background-color: black;
    border-color: #23231A;
}
.lead.mb-4 {
    font-size: 3em;
    color: #6096BA;
}
.text-center h1{
    color: var(--midnight-green)
}
p {
    font-family: "Pompiere", sans-serif;
    font-weigh