
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
:root {
    --dark-green: #0A3323; 
    --moss-green: #839958;
    --beige: #F7F4D5; 
    --rosy-brown: #D3968C;
    --midnight-green: #105666; 
}
.navbar {
    background-color: var(--dark-green);
}
.navbar-brand {
    color: var(--moss-green);
    font-family: "Pompiere", sans-serif;
    font-size:x-large;
    padding: .5em;
}
body{
    background-color: var(--dark-green);
}
.dropdown-item {
    color: var(--rosy-brown);
    font-family: "Pompiere", sans-serif;
    font-size: x-large;
}
.dropdown-menu {
    background-color: var(--midnight-green);
}
/* Hero Section */
.hero-section {
    background: url(../images/background.gif);
    height: 104vh;
    background-position: 20% 20%;
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--rosy-brown);
}
.hero-section h1 {
    font-family: "Fascinate", system-ui;
    font-weight: 600;
}
.artist {
    background-color: var(--moss-green);
}
.text-center{ 
    color:#D3968C;
    padding-top: 1em;
} 
.hero-section .lead {
    font-size: 1.5rem;
}
.card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}
.card {
    background-color: var(--beige);
    font-family: "Mulish", sans-serif;
}
.map {
    columns: 3em
}
/*
.nav-link  {
    color:#839958;
    font-family: "Pompiere", sans-serif;
    font-size: x-large;

}*/
.carousel-inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.btn {
    background-color: var(--midnight-green);
    border-radius: 1em;
    border-color: white;
}
.btn:hover {
    background-color: black;
    border-color: #23231A;
}
.lead.mb-4 {
    font-size: 3em;
    color: #6096BA;
}
.main{
    color: var(--midnight-green);
    background-color: #839958;
    padding: 1em;
    border-radius: 60%
}
h1 {
    font-family: "Fascinate-display";
    color: #D3968C;
}
h3 {
    font-family: "Pompiere";
    font-weight: 400;
    font-style: bold;
}
p {
    font-family: "Pompiere";
    font-weight: 400;
    font-style: bold;
    font-size: x-large;
    padding-top:1.5em;
 }
.col-md-6 img{
padding-top: 3em;
padding-bottom: 3em;
}   
.col-md-6 h2 {
    font-family: "Fascinate";
    color:#105666;
    padding-top: 1em;
}

h2 {
font-family: "Pompiere", sans-serif;
    font-weight: 700;
    color: black;
}

/* lilypad */

.lilypad {
    width: 80%;
    padding: 2em;
}
.littlelilypad {
    padding: 2em;
    padding-left: 5em;
    width: 80%;
}

.lilypad-container a {
    display: block;
    position: relative;
}

.lilypad-container h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}